<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		<link rel="stylesheet" href="../style.css">
		<style>
			.current{
				--tw-text-opacity: 1;
   				color: rgb(79 70 229 / var(--tw-text-opacity));
				background-color: rgb(238 242 255 / var(--tw-bg-opacity));
				border-color: rgb(99 102 241 / var(--tw-border-opacity));
			}
		</style>
	</head>
	<body>
		<div class="min-h-screen bg-white">
			<main>
				<!-- Side-by-side grid -->
				<div class="bg-white">
					<div class="max-w-md mx-auto py-12 px-4 sm:max-w-3xl sm:py-10 sm:px-6 lg:max-w-7xl lg:px-8">
						<a href="../" class="self-end text-base text-indigo-600 font-semibold  uppercase">Home</a>
						<br>
						<div class="mt-5 md:mt-0 md:col-span-2">
							<div class="shadow sm:rounded-md sm:overflow-hidden">
								<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
									<div class="mt-1 flex items-left">
                                        <div class="bg-white px-4 py-3 flex items-center justify-between sm:px-6">
                                            <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
                                                <div>
                                                    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                                                        <a href="#" onclick="previous()" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                                            <span class="sr-only">Previous</span>
                                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                                            </svg>
                                                        </a>
                                                        <a href="#" id="monthAndYear" aria-current="page" class="z-10 text-black relative inline-flex items-center px-4 py-2 border text-sm font-medium"></a>
                                                        <a href="#" onclick="next()" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                                                            <span class="sr-only">Next</span>
                                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                                            </svg>
                                                        </a>
                                                    </nav>
                                                    <table v-if="displayedPosts.length > 0" class="min-w-full divide-y divide-gray-200">
														<thead class="bg-gray-50">
															<tr>
																<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
																	sun
																</th>
																<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
																	Mon
																</th>
																<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
																	Tue
																</th>
																<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
																	Wed
																</th>
																<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
																	Thur
																</th>
																<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
																	Fri
																</th>
																<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
																	Sat
																</th>
															</tr>
														</thead>
														<tbody id="calendar-body" class="border-1 rounded-lg bg-white divide-y divide-gray-200">
														</tbody>
													</table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
								<div class="px-4 py-3 bg-gray-50 text-left sm:px-6">
									<h3>Calendar</h3>
									<span class=" text-gray-500 text-sm">
										Display calendar of specific month. <br>Provides 2 buttons for forwarding and backwarding month.<br>
                                        Default month displayed should be the current month and should highlight the current date.
									</span>
								</div>
							</div>
    					</div>
					</div>
				</div>
			</main>
		</div>
	</body>
	<script>
		today = new Date();
		currentMonth = today.getMonth();
		currentYear = today.getFullYear();

		months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

		monthAndYear = document.getElementById("monthAndYear");
		showCalendar(currentMonth, currentYear);


		function next() {
			currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
			currentMonth = (currentMonth + 1) % 12;
			showCalendar(currentMonth, currentYear);
		}

		function previous() {
			currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
			currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
			showCalendar(currentMonth, currentYear);
		}

		// get number of days in a month
		function daysInMonth(iMonth, iYear)
		{
			return 32 - new Date(iYear, iMonth, 32).getDate();
		}

		function showCalendar(month, year) {

			let firstDay = (new Date(year, month)).getDay();

			tbl = document.getElementById("calendar-body"); // body of the calendar

			// clearing all previous cells
			tbl.innerHTML = "";

			// filing data about month and in the page via DOM.
			monthAndYear.innerHTML = months[month] + " " + year;
			// creating all cells
			let date = 1;
			for (let i = 0; i < 6; i++) {
				// creates a table row
				let row = document.createElement("tr");

				//creating individual cells, filing them up with data.
				for (let j = 0; j < 7; j++) {
					if (i === 0 && j < firstDay) {
						cell = document.createElement("td");
						cellText = document.createTextNode("");
						cell.appendChild(cellText);
						row.appendChild(cell);
					}
					else if (date > daysInMonth(month, year)) {
						break;
					}

					else {
						cell = document.createElement("td");
						cellText = document.createTextNode(date);
						if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) {
							cell.classList.add("current");
						} // color today's date
						cell.appendChild(cellText);
						row.appendChild(cell);
						date++;
					}


				}

				tbl.appendChild(row); // appending each row into calendar body.
			}
		}
	</script>
</html>
